# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Databases & local uploads
*.db
*.sqlite3
**/uploads/
**/backend/uploads/
.venv/
**/.venv/

# Node & Frontend dependencies/build
**/node_modules/
**/dist/
**/.vite/

# Environment & IDE
.env
**/.env
.vscode/
.idea/
scratch/
**/scratch/
